@{ 
    Layout = "../Shared/_layout.cshtml";
}


<div class="jumbotron">
    <h1>FMS Accounts API</h1>
    <p class="lead">FMS AP/AR Web API.  Accounts data access WebAPI</p>
    <p><a href="/Help" class="btn btn-primary btn-lg">WebAPI Dictionary &raquo;</a></p>
</div>
<div class="row">
    @*<div class="col-md-4">
        <h2>Getting started</h2>
        <p>ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
        a broad range of clients, including browsers and mobile devices. ASP.NET Web API
        is an ideal platform for building RESTful applications on the .NET Framework.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>*@

    <table id="dataGrid"></table>
    <div id="WaterListPager"></div>
</div>


<script type="text/javascript">

    $(function () {

        var response;
        var request = [
            {
                ObjectOperator: 'and',
                SortColumn: 'site_address',
                CompareOperator: '=',
                SortValue: '0  VACANT LAND',
                CompareDataType: ''
            }
            ,
            {  
                ObjectOperator: 'and',
                SortColumn: 'delTo',
                CompareOperator: '=',
                SortValue: '2016',
                CompareDataType: 'DateTime'
            }
        ];   

        $.ajax({
            url: '/api/properties/GetAbandonedProperties',
            type: 'POST',
            data: JSON.stringify(request),
            dataType: 'json',
            headers: { "Access-Control-Allow-Headers": "Content-Type, Access-Control-Allow-Headers, Authorization, X-Requested-With" },
            contentType: "application/json; charset=utf-8",
            beforeSend: function (x) {
                if (x && x.overrideMimeType) {
                    x.overrideMimeType("application/json;charset=UTF-8");
                }
            },
            success: function (data) {
                response = data;

                alert(JSON.stringify(response));
            },
            error: function (xhr, errorThrown) {
                alert("AJAX Error : " + errorThrown);
            }
        });
    });

    //    $("#dataGrid").jqGrid({
    //        //url: "http://localhost:36453/api/UtilitiesAPI/GetWaterOutages",
    //        datatype: "local",
    //        data: response,
    //        //mtype: "GET",
    //        jsonReader: {
    //            //total: "Total",
    //            //records: "TotalRecords",
    //            //root: "Rows",
    //            cell: ""
    //            //repeatitems: false
    //        },
    //        colNames: ['RowId', 'IndxCtrl'],
    //        colModel: [
    //            { name: 'RowId', index: 'RowId', width: 120, sorttype: "int", searchoptions: { sopt: ['cn', 'eq', 'bw'] } },
    //            { name: 'IndxCtrl', index: 'IndxCtrl', width: 140, sorttype: "int", searchoptions: { sopt: ['cn', 'eq', 'bw'] } },
    //        ],
    //        search: true,
    //        rowNum: 50,
    //        rowList: [5, 10, 20, 50],
    //        pager: '#WaterListPager',
    //        height: 'auto',
    //        width: 'auto',
    //        hidegrid: true,
    //        loadonce: true,
    //        viewrecords: true,
    //        sortname: 'LastNonZeroDate',
    //        sortorder: "desc",
    //        caption: "Test Dynamic API Method",
    //    });    
    //});


</script>